/* Standards */

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(29, 29, 32);
}

footer,
header {
  padding: 32px;
}

h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #ff0000;
}

button{
  border: 1px solid red;
  border-radius: 16px;
  font-size: 16px;
  font-weight: bold;
  margin: 8px;
  background-color: black;
  color: #ff0000;
  padding: 8px 16px;
  cursor: pointer;
}

button:hover{
  box-shadow: 0px 0px 3px rgba(246, 4, 4, 0.1),
    0px 0px 11px rgba(246, 4, 4, 0.3), 0px 0px 25px rgba(246, 4, 4, 0.4),
    0px 0px 44px rgba(246, 4, 4, 0.5), 0px 0px 69px rgba(246, 4, 4, 0.7),
    0px 0px 100px rgba(246, 4, 4, 0.8);
}












/* Lasersword */

/* css box shadow smooth generator */
  /* background: #ff0000;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.66) 0%,
    rgba(250, 0, 0, 1) 40%,
    rgba(255, 0, 0, 1) 60%,
    rgba(255, 0, 0, 0.7) 100%
  );


  box-shadow: 0px 0px 3px rgba(246, 4, 4, 0.1),
    0px 0px 11px rgba(246, 4, 4, 0.3), 0px 0px 25px rgba(246, 4, 4, 0.4),
    0px 0px 44px rgba(246, 4, 4, 0.5), 0px 0px 69px rgba(246, 4, 4, 0.7),
    0px 0px 100px rgba(246, 4, 4, 0.8); */

.lasersword {
}

.lasersword_handle{
}

.lasersword_laser {
}

.active {
}

.lasersword_wrapper {
}

.rotation {
}




















.fun_box {
  height: 150px;
  position: relative;
}


.full_cuttingbox {
}

.left_cuttingbox {
}

.right_cuttingbox {
}

.cutted > .full_cuttingbox {
}

.cutted > .left_cuttingbox{
}

.cutted > .right_cuttingbox{
}